@import "plugin://bamboo.web.resources.common/global.less";

form#permissions .buttons-container {
    margin-top: @doubleSpacing;
}

#triggerList {
  padding-top: @baseSpacing;
}
#triggerList td {
  vertical-align: baseline;
}
#triggerList .userDescription {
  color: @secondaryTextColor;
}
#cloneEnvironmentInfoSection > h3 {
  margin-top: 0;
}
form.aui span.field-value-normal-font {
  font-weight: normal;
}

