<#if !stack.findValue("#optiontransferselect_js_included")??><#t/>
	<script language="javascript" src="<@ww.url value="/webwork/optiontransferselect/optiontransferselect.js" encode='false' />"></script>
	<#assign temporaryVariable = stack.setValue("#optiontransferselect_js_included", "true") /><#t/>
</#if><#t/>
<table border="0">
<tr>
<td>
<#if parameters.leftTitle??><#t/>
	<label for="leftTitle">${parameters.leftTitle}</label><br/>
</#if><#t/>
<#include "/${parameters.templateDir}/simple/select.ftl" /> </td>
<td valign="middle" align="center">
	<#if parameters.allowAddToLeft!true><#t/>
		<#assign addToLeftLabel = parameters.addToLeftLabel!"<-"?html/><#t/>
		<#if parameters.doubleHeaderKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addToLeftLabel}" onclick="moveSelectedOptions(document.getElementById('${parameters.doubleId?html}'), document.getElementById('${parameters.id?html}'), false, '${parameters.doubleHeaderKey}', '')" /><br/><br/>
		<#else><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addToLeftLabel}" onclick="moveSelectedOptions(document.getElementById('${parameters.doubleId?html}'), document.getElementById('${parameters.id?html}'), false, '')" /><br/><br/>
		</#if><#t/>
	</#if><#t/>
	<#if parameters.allowAddToRight!true><#t/>
		<#assign addToRightLabel=parameters.addToRightLabel!"->"?html /><#t/>
		<#if parameters.headerKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addToRightLabel}" onclick="moveSelectedOptions(document.getElementById('${parameters.id?html}'), document.getElementById('${parameters.doubleId?html}'), false, '${parameters.headerKey}', '')" /><br/><br/>
		<#else><#t/>
			<input type="button"
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addToRightLabel}" onclick="moveSelectedOptions(document.getElementById('${parameters.id?html}'), document.getElementById('${parameters.doubleId?html}'), false, '')" /><br/><br/>
		</#if><#t/>
	</#if><#t/>
	<#if parameters.allowAddAllToLeft!true><#t/>
		<#assign addAllToLeftLabel=parameters.addAllToLeftLabel!"<<--"?html /><#t/>
		<#if parameters.doubleHeaderKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass}"
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle}"
			</#if><#t/>
			 value="${addAllToLeftLabel}" onclick="moveAllOptions(document.getElementById('${parameters.doubleId?html}'), document.getElementById('${parameters.id?html}'), false, '${parameters.doubleHeaderKey}', '')" /><br/><br/>
		<#else><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addAllToLeftLabel}" onclick="moveAllOptions(document.getElementById('${parameters.doubleId?html}'), document.getElementById('${parameters.id?html}'), false, '')" /><br/><br/>
		</#if><#t/>
	</#if><#t/>
	<#if parameters.allowAddAllToRight!true><#t/>
		<#assign addAllToRightLabel=parameters.addAllToRightLabel!"-->>"?html /><#t/>
		<#if parameters.headerKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addAllToRightLabel}" onclick="moveAllOptions(document.getElementById('${parameters.id?html}'), document.getElementById('${parameters.doubleId?html}'), false, '${parameters.headerKey}', '')" /><br/><br/>	
		<#else><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${addAllToRightLabel}" onclick="moveAllOptions(document.getElementById('${parameters.id?html}'), document.getElementById('${parameters.doubleId?html}'), false, '')" /><br/><br/>	
		</#if><#t/>
	</#if><#t/>
	<#if parameters.allowSelectAll!true><#t/>
		<#assign selectAllLabel=parameters.selectAllLabel!"<*>"?html /><#t/>
		<#if parameters.headerKey?? && parameters.doubleHeaderKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${selectAllLabel}" onclick="selectAllOptionsExceptSome(document.getElementById('${parameters.id?html}'), 'key', '${parameters.headerKey}');selectAllOptionsExceptSome(document.getElementById('${parameters.doubleId?html}'), 'key', '${parameters.doubleHeaderKey}');" /><br/><br/>
		<#elseif parameters.headerKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${selectAllLabel}" onclick="selectAllOptionsExceptSome(document.getElementById('${parameters.id?html}'), 'key', '${parameters.headerKey}');selectAllOptions(document.getElementById('${parameters.doubleId?html}'));" /><br/><br/>
		<#elseif parameters.doubleHeaderKey??><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${selectAllLabel}" onclick="selectAllOptions(document.getElementById('${parameters.id?html}'));selectAllOptionsExceptSome(document.getElementById('${parameters.doubleId?html}'), 'key', '${parameters.doubleHeaderKey}');" /><br/><br/>
		<#else><#t/>
			<input type="button" 
			<#if parameters.buttonCssClass??><#t/>
			 class="${parameters.buttonCssClass?html}" 
			</#if><#t/>
			<#if parameters.buttonCssStyle??><#t/>
			 style="${parameters.buttonCssStyle?html}"
			</#if><#t/>
			 value="${selectAllLabel}" onclick="selectAllOptions(document.getElementById('${parameters.id?html}'));selectAllOptions(document.getElementById('${parameters.doubleId?html}'));" /><br/><br/>
		</#if><#t/>
	</#if><#t/>
</td>
<td>
<#if parameters.rightTitle??><#t/>
	<label for="rightTitle">${parameters.rightTitle}</label><br/>
</#if><#t/>
<select 
	name="${parameters.doubleName!?html}"
	<#if parameters.get("doubleSize")??><#t/>
	size="${parameters.get("size")?html}"		
	</#if><#t/>
	<#if parameters.doubleDisabled!false><#t/>
	disabled="disabled"
	</#if><#t/>
	<#if parameters.doubleMultiple!false><#t/>
	multiple="multiple"
	</#if><#t/>
	<#if parameters.doubleTabindex??><#t/>
	tabindex="${parameters.tabindex?html}"
	</#if><#t/>
	<#if parameters.doubleId??><#t/>
	id="${parameters.doubleId?html}"
	</#if><#t/>
	<#if parameters.doubleCssClass??><#t/>
	class="${parameters.cssClass?html}"
	</#if><#t/>
	<#if parameters.doubleCssStyle??><#t/>
	style="${parameters.cssStyle?html}"
	</#if><#t/>
    <#if parameters.doubleOnclick??><#t/>
    onclick="${parameters.doubleOnclick?html}"
    </#if><#t/>
    <#if parameters.doubleOndblclick??><#t/>
    ondblclick="${parameters.doubleOndblclick?html}"
    </#if><#t/>
    <#if parameters.doubleOnmousedown??><#t/>
    onmousedown="${parameters.doubleOnmousedown?html}"
    </#if><#t/>
    <#if parameters.doubleOnmouseup??><#t/>
    onmouseup="${parameters.doubleMnmouseup?html}"
    </#if><#t/>
    <#if parameters.doubleOnmousemove??><#t/>
    onmousemove="${parameters.doubleOnmousemove?html}"
    </#if><#t/>
    <#if parameters.doubleOnmouseout??><#t/>
    onmouseout="${parameters.doubleOnmouseout?html}"
    </#if><#t/>
    <#if parameters.doubleOnfocus??><#t/>
    onfocus="${parameters.doubleOnfocus?html}"
    </#if><#t/>
    <#if parameters.doubleOnblur??><#t/>
    onblur="${parameters.doubleOnblur?html}"
    </#if><#t/>
    <#if parameters.doubleOnkeypress??><#t/>
    onkeypress="${parameters.doubleOnkeypress?html}"
    </#if><#t/>
    <#if parameters.doubleOnKeydown??><#t/>
    onkeydown="${parameters.doubleOnkeydown?html}"
    </#if><#t/>
    <#if parameters.doubleOnkeyup??><#t/>
    onkeyup="${parameters.doubleOnkeyup?html}"
    </#if><#t/>
    <#if parameters.doubleOnselect??><#t/>
    onselect="${parameters.doubleOnselect?html}"
    </#if><#t/>
    <#if parameters.doubleOnchange??><#t/>
    onchange="${parameters.doubleOnchange?html}"
    </#if><#t/>
>
	<#if parameters.doubleHeaderKey?? && parameters.doubleHeaderValue??><#t/>
    <option value="${parameters.doubleHeaderKey?html}">${parameters.doubleHeaderValue?html}</option>
	</#if><#t/>
	<#if parameters.doubleEmptyOption!false><#t/>
    <option value=""></option>
	</#if><#t/>
    <#if parameters.list??>
        <@ww.iterator value="parameters.doubleList"><#t/>
            <#if parameters.doubleListKey??><#t/>
                <#assign doubleItemKey = stack.findValue(parameters.doubleListKey) /><#t/>
            <#else><#t/>
                <#assign doubleItemKey = stack.findValue('top') /><#t/>
            </#if><#t/>
            <#assign doubleItemKeyStr = doubleItemKey.toString() /><#t/>
            <#if parameters.doubleListValue??><#t/>
                <#assign doubleItemValue = stack.findString(parameters.doubleListValue) /><#t/>
            <#else><#t/>
                <#assign doubleItemValue = stack.findString('top') /><#t/>
            </#if><#t/>
            <option value="${doubleItemKeyStr?html}"<#rt/>
                <#if tag.contains(parameters.doubleNameValue, doubleItemKey)><#t/>
                    selected="selected"<#rt/>
                </#if><#t/>
                    >${doubleItemValue?html}</option><#lt/>
        </@ww.iterator><#t/>
    </#if>
</select>
</td>
</tr>
</table>

