[#include "/${parameters.templateDir}/simple/dynamic-field-parameters.ftl" /]
[#if parameters.cssClass?? && parameters.optionDescription?has_content]
    ${tag.addParameter("cssClass", "handleDynamicDescription ${parameters.cssClass}") }
[#elseif parameters.optionDescription?has_content]
    ${tag.addParameter("cssClass", "handleDynamicDescription") }
[/#if]
<select[#rt/]
 name="${parameters.name!?html}"[#rt/]
[#if parameters.get("size")??]
 size="${parameters.get("size")?html}"[#rt/]
[/#if]
[#if parameters.disabled!false]
 disabled="disabled"[#rt/]
[/#if]
[#if parameters.tabindex??]
 tabindex="${parameters.tabindex?html}"[#rt/]
[/#if]
[#if parameters.id??]
 id="${parameters.id?html}"[#rt/]
[/#if]
 class="[#rt/]
    [#if parameters.submitOnChange!'false' == 'true']
      submitOnChange [#t/]
    [/#if]
    [#if parameters.cssClass??]
       ${parameters.cssClass?html} [#t/]
    [/#if]
    [#if parameters.fullWidthField!false]
        full-width-field [#t]
    [#elseif parameters.longField!false]
        long-field [#t]
    [#elseif parameters.mediumField!false]
        medium-field [#t]
    [#elseif parameters.shortField!false]
        short-field [#t]
    [/#if]
"[#t/]
[#if parameters.cssStyle??]
 style="${parameters.cssStyle?html}"[#rt/]
[/#if]
[#if parameters.title??]
 title="${parameters.title?html}"[#rt/]
[/#if]
[#if parameters.multiple!false]
 multiple="multiple"[#rt/]
[/#if]
[#if parameters.autofocus?? && parameters.autofocus == true]
 autofocus[#t/]
[/#if]
[#include "/${parameters.templateDir}/simple/scripting-events.ftl" /]
>[#t/]
[#if parameters.headerKey?? && parameters.headerValue??]
    <option value="${parameters.headerKey?html}">${parameters.headerValue?html}</option>
[/#if]
[#if parameters.headerKey2?? && parameters.headerValue2??]
    <option value="${parameters.headerKey2?html}"
    [#if parameters.nameValue?string == parameters.headerKey2]
 selected="selected"[#rt/]
    [/#if]
            >${parameters.headerValue2?html}</option>
[/#if]
[#if parameters.emptyOption!false]
    <option value=""></option>
[/#if]
[#if parameters.list??]
    [@ww.iterator value="parameters.list"]
            [#if parameters.groupBy?? || parameters.groupLabel??]
                [#if parameters.groupBy??]
                    [#assign groupLabel = stack.findValue(parameters.groupBy)/]
                [#elseif parameters.groupLabel??]
                    [#assign groupLabel = parameters.groupLabel/]
                [/#if]
                [#if parameters.i18nPrefixForGroup?has_content]
                    [#assign groupLabel][@ww.text name='${parameters.i18nPrefixForGroup?html}.${groupLabel}' /][/#assign]
                [/#if]
                [#if !currentGroupLabel?has_content && groupLabel?has_content]
                    [#assign currentGroupLabel = groupLabel/]
                    <optgroup label="${currentGroupLabel?html}">
                [#elseif currentGroupLabel?has_content && groupLabel?? && currentGroupLabel != groupLabel]
                    </optgroup>
                    [#assign currentGroupLabel = groupLabel/]
                    [#if currentGroupLabel?has_content]
                        <optgroup label="${currentGroupLabel?html}">
                    [/#if]
                [/#if]
            [/#if]

            [#if parameters.listKey!?has_content]
                [#assign itemKey = stack.findValue(parameters.listKey)/]
            [#else]
                [#assign itemKey = stack.findValue('top')/]
            [/#if]
            [#assign itemKeyStr = itemKey.toString() /]
            [#if parameters.listValue!?has_content]
                [#assign itemValue = stack.findString(parameters.listValue)/]
            [#else]
                [#assign itemValue = stack.findString('top')/]
            [/#if]
            [#if parameters.optionDescription?has_content]
                [#assign optionTitleValue = stack.findString(parameters.optionDescription)! /]
            [#elseif parameters.optionTitle?has_content]
                [#assign optionTitleValue = stack.findString(parameters.optionTitle)! /]
            [#else]
                [#assign optionTitleValue = "" /]
            [/#if]
            [#if parameters.dataAttributeName?has_content && parameters.dataAttribute?has_content]
                [#assign optionDataAttributeValue = stack.findString(parameters.dataAttribute)! /]
            [#else]
                [#assign optionDataAttributeValue = "" /]
            [/#if]
        <option value="${itemKeyStr?html}"[#rt/]
            [#if parameters.uiSwitch?has_content]
     class="uiSwitch${stack.findString(parameters.uiSwitch)?html}"[#rt/]
            [/#if]
            [#if optionTitleValue?has_content]
     data-dynamic-select-description="${optionTitleValue?html}"[#rt/]
            [/#if]
            [#if parameters.dataAttributeName?has_content && optionDataAttributeValue?has_content]
     data-${parameters.dataAttributeName?html}="${optionDataAttributeValue?html}"[#rt/]
            [/#if]
            [#if tag.contains(parameters.nameValue, itemKey?string) == true]
     selected="selected"[#rt/]
            [/#if]
        >[#t]
        [#if parameters.i18nPrefixForValue?has_content]
            [@ww.text name='${parameters.i18nPrefixForValue?html}.${itemValue?html}' /][#t]
        [#else]
            ${itemValue?html}[#t/]
        [/#if]
        </option>[#lt/]
    [/@ww.iterator]
[/#if]
[#if parameters.groupBy?? || parameters.groupLabel??]
    [#if currentGroupLabel?has_content]
        </optgroup>
    [/#if]
[/#if]

[#if parameters.footerKey?? && parameters.footerValue??]
    <option value="${parameters.footerKey?html}"
    [#if parameters.nameValue?? && parameters.nameValue?string == parameters.footerKey]
     selected="selected"[#rt/]
    [/#if]
>${parameters.footerValue?html}</option>
[/#if]
</select>[#lt/]
<input type="hidden" name="selectFields" value="${parameters.name?html}" />[#rt/]