[#-- @ftlvariable name="action" type="com.atlassian.bamboo.configuration.agent.ControlRemoteAgentsAvailability" --]
[#-- @ftlvariable name="" type="com.atlassian.bamboo.configuration.agent.ControlRemoteAgentsAvailability" --]
[#import "/agent/commonAgentFunctions.ftl" as agt]

[#assign shutdownConfirmation]

[/#assign]

<html>
<head>
    [@ui.header pageKey="agent.remote.disableFunction" title=true /]
    <meta name="decorator" content="adminpage">
    <meta name="adminCrumb" content="agentsConfig">
</head>

<body>

    <h1>[@ww.text name='agent.remote.disableFunction'/]</h1>

    [@ww.form id='confirmDisableRemoteAgentFunctionForm'
              action='disableRemoteAgentFunction' namespace='/admin/agent'
              submitLabelKey='global.buttons.confirm'
              cancelUri='/admin/agent/configureAgents!doDefault.action'
    ]
        [#if numberOfElasticInstancesRunning > 0]
            [@ui.messageBox type="warning"]
                [@s.text name="agent.remote.disableFunction.confirmation.elastic" /]
            [/@ui.messageBox]
        [#else]
            [@ui.messageBox type="warning"]
                [@s.text name="agent.remote.disableFunction.confirmation" /]
            [/@ui.messageBox]
        [/#if]
        [@ww.hidden name='confirmed' value=true /]
    [/@ww.form]

</body>
</html>
