@import "plugin://bamboo.web.resources.common/global.less";

@images: "../../../images";

/* Page Layout/Typography */

dl, dt, dd {
  padding: 0;
}

dt, dd {
  margin: 0;
}

#plan-errors,
.aui-message:first-child + h1,
.aui-message:first-child + meta + h1,
.aui-message:first-child + .floating-toolbar,
.aui-message:first-child + .floating-toolbar + h1 {
  margin: @baseSpacing 0 0;
}

h1,
.toolbar + h2,
.toolbar + h3,
.floating-toolbar + h2,
.floating-toolbar + h3,
.aui-theme-default meta:first-child + form.aui,
.aui-theme-default meta:first-child + meta + form.aui {
  margin-top: 0;
}

/* New product logos */
.aui-header .aui-header-logo-bamboo .aui-header-logo-device {
  background-image: url("@{images}/logos/aui-header-logo-bamboo.png") !important;
  width: 109px !important;
}

/* AUI Tabs */
.aui-tabs > .tabs-pane {
  padding-top: @baseSpacing;
  overflow: hidden;
}

/* Page Header + Tabs as primary content overrides */
.aui-theme-default #content > .aui-page-header + .aui-tabs {
  margin-top: 0;
}

/* Page Header actions alignment */
.aui-page-header-actions > .aui-buttons {
  margin: 0;
  vertical-align: middle;
}

/* Need some sort of additional place where extra page header bits can sit */
.bamboo-page-header-extra {
  margin-top: -@baseSpacing;
  padding: 0 @doubleSpacing;

  + .aui-navgroup {
    margin-top: @doubleSpacing;
  }
}

/* Need some sort of page footer in AUI */
.bamboo-page-footer {
  padding: @doubleSpacing;
}

.aui-theme-default #content > .aui-tabs + .bamboo-page-footer {
  margin-top: -@doubleSpacing;
}

/* Bamboo Dropdown overrides */
.section .aui-dropdown {
  margin-left: 0;
}

/* For split Dropdowns */
.aui-dd-parent .drop-wrap {
  border-left: 1px dotted @sidebarEmptyColor;
  display: inline-block;
  height: 15px;
  margin-left: 2px;
  padding-left: 2px;
}

.aui-dd-parent .drop-wrap .aui-dropdown-trigger {
  display: inline-block;
}

/* Dropdowns in header */
.aui-dropdown2-in-header,
.aui-dropdown2-in-page-header {
  z-index: 1;
}

/* AUI Item */
.aui-group > .aui-item > h1:first-child,
.aui-group > .aui-item > h2:first-child,
.aui-group > .aui-item > h3:first-child,
.aui-group > .aui-item > h4:first-child,
.aui-group > .aui-item > h5:first-child,
.aui-group > .aui-item > h6:first-child {
  margin-top: 0;
}

/* AUI Forms */
form.aui {
  .buttons-container > .buttons {
    font-size: 0;

    > .field-group {
      font-size: @baseFontSize;
    }
  }
  .cancel {
    font-size: @baseFontSize;
  }
  .field-value.field-value-checkbox {
    padding-top: 0;
    .field-group {
      padding-left: 0;
      font-weight: normal;
    }
  }
  .group legend {
    padding-left: 0;
  }
}

form.aui .button + .aui-button,
form.aui .aui-button + .button {
  margin-left: @baseSpacing;
}

/* Icons in Buttons, links and Dropdown2 */
.aui-button .aui-icon,
a .aui-icon {
    color: @secondaryTextColor;
}
.aui-button-primary .aui-icon,
.aui-header .aui-icon,
.aui-dropdown2 .active .aui-icon,
.aui-button[aria-disabled="true"] .aui-icon {
    color: inherit;
}
.aui-button[aria-disabled="true"] .aui-icon:not([class*="iconfont"]) {
    .opacity(0.7);
}
.aui-dropdown2 .icon,
.aui-dropdown2 .aui-icon {
    margin-right: @halfSpacing;
}

/* Using primary-button with Dialog */
.aui-dialog {
    .aui-button.aui-button-primary,
    .aui-icon.aui-icon-wait {
        margin-right: @baseSpacing;
    }
    h3 > p:last-child {
        margin-bottom: @doubleSpacing;
    }
}

.aui-avatar {
  img {
    border-radius: 50%;
  }
}

.aui-avatar-project {
    // This pseudo-selector shouldn't prevent .aui-avatar-inner from being hovered
    &:before {
        pointer-events: none;
    }

    // Custom avatar image size, FIX for IE11
    img {
        height: 48px;
        width: 48px;
    }
}

/* Datepicker should always be on top */
.aui-datepicker-dialog {
    z-index: 9999;

    .ui-icon {
        background-image: none;
    }
}

#page,
#inline-dialog-plan-status-history-info {
    .aui-iconfont-approve,
    .aui-iconfont-successful-build,
    .aui-iconfont-deploy-success {
        color: @successfulIconColor;
    }

    .aui-iconfont-error,
    .aui-iconfont-failed-build,
    .aui-iconfont-deploy-fail {
        color: @failedIconColor;
    }

    .aui-iconfont-incomplete-build,
    .aui-iconfont-plan-disabled {
        color: @notBuiltIconColor;
    }

    .aui-iconfont-devtools-task-in-progress,
    .aui-iconfont-queued-build,
    .aui-iconfont-running-build {
        color: @inProgressIconColor;
    }

    .aui-iconfont-running-build {
      .running-build-rotating-animation();

      & > span {
        display: none;
      }
    }
}

/* 'ADG Server' guideline changed colour of aui-inline-dialog border from Cheeto Orange to Ash Grey */

aui-inline-dialog.aui-help {
    &:before { /* the -^- triangle */
        border-bottom-color: @dividerColor;
    }

    .aui-inline-dialog-contents { /* main dialog frame */
        border-color: @dividerColor;
    }
}

.description.full-size {
  font-size: @baseFontSize !important;
}

/*
 * Override after migration from AUI 6.0.X to 7.9.X.
 * Toolbar1 UX backport instead of migrating all toolbars to Toolbar2.
 * For more info see: https://docs.atlassian.com/aui/7.9.4/docs/upgrade-guide.html#7.1.x-to-7.2
 */
.aui-toolbar .toolbar-group {
  .toolbar-item + .toolbar-item {
    margin-left: 2px;
  }
}

/*
 * Override after migration from AUI 6.0.X to 7.9.X.
 * Icon UX backport - icons are now aligned to text-top, before migration they were aligned to text-bottom.
 * Remove the override once we switch to an AUI version which fixes: https://ecosystem.atlassian.net/browse/AUI-4612
 */
.aui-icon-small,
.aui-icon-large {
  vertical-align: text-bottom !important;
}
