@import "plugin://bamboo.web.resources.common/global.less";

#build-statistics {
    list-style: none;
    padding: 0;
}
#build-statistics > li {
    line-height: 1;
    padding: 0 16px 8px;
    position: relative;
}
#build-statistics > li + li {
    border-top: 1px solid @dividerColor;
    padding-top: 8px;
}
#build-statistics .value {
    font-size: 32px;
    font-weight: bold;
}
#build-statistics .key {
    color: @hintTextColor;
    display: inline-block;
    font-size: 12px;
    width: 60px;
}
#build-statistics figure {
    background: #fff;
    bottom: 8px;
    left: 50%;
    margin: 0;
    position: absolute;
    right: 16px;
    top: 8px;
}
#build-statistics .successful figure {
    right: 0;
    top: -41px;
}