@import "plugin://bamboo.web.resources.common/global.less";

/* Final Tasks bar & prompt */
#panel-editor-list .final-tasks-bar {
    background: #f0f0f0;
    color: @hintTextColor;
    padding: 3px 12px;
}
#panel-editor-list .final-tasks-bar > h3 {
    border: 0;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
#panel-editor-list .final-tasks-bar > div {
    display: inline-block;
    font-size: 11px;
}
#panel-editor-list > ul.ui-sortable > li.final-tasks-bar {
    cursor: pointer;
    padding-left: 8px;
}
#panel-editor-list #final-tasks-prompt {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    color: @hintTextColor;
    font-style: italic;
    padding: 6px 0;
    text-align: center;
}
.item + #final-tasks-prompt {
    display: none;
}

/* Task Types Dialog */
#task-types-dialog {
    .dialog-page-menu {
        margin-right: 0;
        width: 199px;
    }

    .dialog-title {
        white-space: normal;
    }
}

ol.task-type-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.task-type-list > li {
    border: 2px #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 102px;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 102px;
    position: relative;
    width: 50%;
}
.task-type-list > li:hover {
    background: #eee;
}
.task-type-list > li > a {
    color: inherit;
    text-decoration: none;
}
.task-type-icon-holder {
    background: url(../../../images/task-type-default.png) no-repeat 50% 50%;
    border: 1px solid #eee;
    float: left;
    height: 80px;
    margin: 11px 0 0 -91px;
    width: 80px;
}
.task-type-icon-holder--scaled {
    background-size: contain;
}
h3.task-type-title {
    border: 0;
    margin: 11px 0 0;
}
.task-type-description {
    color: @hintTextColor;
    height: 64px;
    margin-top: 2px;
    overflow: hidden;
}
.task-type-list .icon-loading {
    bottom: 12px;
    position: absolute;
    right: 12px;
}

#panel-editor-list .lozenge {
    position: absolute;
    right: 28px;
    top: 50%;
    margin-top: -9px;
}

.task-heading {
    display: inline-block;
    padding-right: @baseSpacing;
    width: 65%;
}

.task-help {
    display: inline-block;
    float: right;
    text-align: right;
    width: 30%;
}
