@import "plugin://bamboo.web.resources.common/global.less";

/* Task Types Dialog */
#trigger-types-dialog {
    .dialog-page-menu {
        margin-right: 0;
        width: 199px;
    }

    .dialog-title {
        white-space: normal;
    }
}

ul.trigger-type-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.trigger-type-list > li {
    border: 2px #fff;
    box-sizing: border-box;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.trigger-type-icon-holder {
    background: url(../../../images/task-type-default.png) no-repeat 50% 50%;
    border: 1px solid #eee;
    float: left;
    height: 80px;
    margin: 11px 0 0 -91px;
    width: 80px;
}
h3.trigger-type-title {
    border: 0;
    margin: 11px 0 0;
}
.trigger-type-link {
    color: inherit;
    text-decoration: none;
    padding: 0 20px 0 102px;
    display: inline-block;
    width: 100%;
    height: 102px;
    box-sizing: border-box;
}

.trigger-type-link:hover {
    background: #eee;
    color: inherit;
    text-decoration: none;
}

.trigger-type-description {
    color: @hintTextColor;
    margin-top: 2px;
    overflow: hidden;
}
.trigger-type-list .icon-loading {
    bottom: 12px;
    position: absolute;
    right: 12px;
}

.trigger-heading {
    display: inline-block;
    padding-right: @baseSpacing;
    width: 65%;
}

.trigger-help {
    display: inline-block;
    float: right;
    text-align: right;
    width: 30%;
}