@import "plugin://bamboo.web.resources.common/global.less";

@statusRibbonWithJobWidth: 217px;
@iconSize: 16px;
@ribbonSeparatorSize: 1px;
.status-ribbon {
  clear: both;
  overflow: hidden;
  position: relative;

  .icon {
    vertical-align: -2px;
  }
  &[data-statuses="1"] {
    .status-ribbon-status:first-child {
      width: auto;
    }
    > .status-ribbon-progress-bar {
      padding-left: 0;
    }
  }
}

#status-ribbon .aui-icon, #deployment-status-ribbon .aui-icon{
  color: #fff;
}

.status-ribbon-inner {
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.status-ribbon-status {
  display: table-cell;
  overflow: hidden;
  position: relative;

  &:first-child {
    width: @statusRibbonWithJobWidth;
  }
  &.InProgress,
  &.Pending,
  &.Queued {
    background: @inProgressStatusBarColor;
  }
  &.Failed {
    background: @failedStatusBarColor;
  }
  &.Successful {
    background: @successfulStatusBarColor;
  }
  &.NotBuilt,
  &.NotRunYet,
  &.Unknown {
    background: @notBuiltStatusBarColor;
  }
  + .status-ribbon-status {
    border-left: @ribbonSeparatorSize solid #fff;
  }
}

.status-ribbon-status-heading {
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  margin: 0;
  padding: 8px;
  position: relative;
  white-space: nowrap;
  z-index: 1;

  > a {
    color: #fff;
  }
  .trigger-reason {
    &:before {
      content: "\2013";
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

h3.status-ribbon-status-heading {
  padding-left: 16px;
}

.status-ribbon-progress-bar {
  font-size: 16px;
  left: 0;
  line-height: 1.875;
  padding: 0 0 0 (@statusRibbonWithJobWidth + @ribbonSeparatorSize);
  position: absolute;
  right: 0;
  top: 0;

  .progress {
    border: 0;
    color: #fff;
    padding: 8px 0;

    > .progress-bar {
      .transition(width 5.3s linear);
      background: @progressBarBgColor;
      left: auto;
      right: 0;
    }
    > .progress-text {
      visibility: hidden;
    }
  }
}

.detailed-version-info-container {
  margin-top: @baseSpacing;

  time {
    border: 0 none;
    color: @secondaryTextColor;
    font-size: 12px;
  }
}

.version-lozenge-container {
  display: inline-block;
  margin-left: 5px;
}

.aui-avatar-badged {
    position: relative;
    vertical-align: middle;

    .reviewed {
        .opacity(1);
        .transition(all 0.3s ease-in-out);
        .scale(1);
        .square(12px);
        width: 12px;
        height: 12px;
        position: absolute;
        right: -6px;
        top: -6px;
        padding-top: @baseSpacing;
        text-align: center;
        display: block;
        font-size: 9px;
        line-height: 16px;
        text-indent: -999em;
    }

    .approved {
        background: transparent url(../../../images/deployment/review-approved-badge.svg) no-repeat 0 0;
        background-size: 12px;
    }

    .broken {
        background: transparent url(../../../images/deployment/review-broken-badge.svg) no-repeat 0 0;
        background-size: 12px;
    }
}
