@import "plugin://bamboo.web.resources.common/global.less";
@import "../../widget/lozenges.less";

.status-lozenge-style() {
    .lozenge-base();
    .text-overflow();
    width: 84px;

    &.status-done,
    &.status-resolved,
    &.status-closed {
        .lozenge-colours(@lozengeSuccessBgColor, @lozengeSuccessTextColor, @lozengeSuccessBorderFadeout);
    }
    &.status-open,
    &.status-todo {
        .lozenge-colours(@lozengeDefaultBgColor, @lozengeDefaultTextColor, @lozengeDefaultBorderFadeout);
    }
    &.status-inprogress,
    &.status-waitingforqa,
    &.status-reopened,
    &.status-technicalreview,
    &.status-tobereviewed {
        .lozenge-colours(@lozengeCurrentBgColor, @lozengeCurrentTextColor, @lozengeCurrentBorderFadeout);
    }
}

.jira-issues {
    .status-lozenge {
        .status-lozenge-style();
    }

    // Issue errors (couldn't retrieve details)
    .details-error {
        color: @secondaryTextColor;
        font-style: italic;
    }

    // Columns
    .type {
        padding-right: 4px;
        width: 16px;

        img {
            display: block;
        }
    }
    .key {
        padding-left: 4px;
        white-space: nowrap;
        width: 90px;
    }
    .status {
        width: 120px;
        text-align: center;
        line-height: 0;
    }

    // Issues table loading
    &.loading {
        .details-error > span {
            display: none;
        }
        .icon-jiraissue-unknown {
            background: url(../../../images/icons/wait.gif) no-repeat 50% 50%;
        }
    }
}
.jira-issue,
.single-issue-loading,
.single-issue-retrieval-error {
    background: @bodyBackgroundColor;
    border: 1px solid @dividerColor;
    .border-radius(3px);
    color: @bodyTextColor;
    display: inline-block;
    line-height: 16px;
    min-height: 16px;
    padding: 2px 4px;

    & > a {
        background: no-repeat 0 0;
        display: inline-block;
        min-height: 16px;
        padding-left: 20px;
    }
}
.jira-issue {
    .description {
        &:before {
            content: " - ";
        }
    }
    .status-lozenge {
        .status-lozenge-style();
        vertical-align: bottom;
        margin-left: @baseSpacing;
    }
}
.single-issue-loading {
    & > a {
        background-image: url(../../../images/icons/wait.gif);
    }
}
.single-issue-retrieval-error {
    & > a {
        background-image: url(../../../images/icons/jira_type_unknown.gif);

        & + .error-message:before {
            content: " - ";
        }
    }
    .error-message.unspecified {
        font-style: italic;
    }
    .oauth-init {
        background: url(../../../images/icons/lock_16_grey.png) no-repeat 0 0;
        padding-left: 18px;
    }
}