@import "plugin://bamboo.web.resources.common/global.less";

.terminal {
  .box-sizing();
  background: #222;
  background-size: 100% 100%;
  border: 1px solid @loaderTextColor;
  color: #90ee90;
  font-family: monospace;
  font-weight: bold;
  margin: 0;
  padding: 3px;
  white-space: pre;
  width: 100%;
}

.terminal-window {
  height: 40em;
  overflow-y: scroll;
}
