[#-- @ftlvariable name="action" type="com.atlassian.bamboo.ww2.actions.chains.ViewChainLogs" --]
[#-- @ftlvariable name="" type="com.atlassian.bamboo.ww2.actions.chains.ViewChainLogs" --]
[#-- @ftlvariable name="resultsSummary" type="com.atlassian.bamboo.chains.ChainResultsSummary" --]
[#assign i18nPlanPrefix = fn.getPlanI18nKeyPrefix(immutablePlan)/]
<html>
<head>
	[@ui.header pageKey='chainResult.logs.header' object='${immutablePlan.key} ${(resultsSummary.buildNumber)!}' title=true /]
    <meta name="tab" content="logs"/>
</head>

<body>
    [@ui.header page='Logs' /]
    [#if resultsSummary??]
        [@displayAllLogs /]
    [#else]
        <p>[@ww.text name=i18nPlanPrefix+'Result.logs.noLogsFound'/]</p>
    [/#if]

</body>
</html>


[#macro displayAllLogs]
[#if fn.isSpecsFailure(resultsSummary) || fn.isSpecsSuccess(resultsSummary)]
    <table class="aui chain-logs-table">
        <tbody>
            <tr class="expanded">
                <td>
                    [@s.text name='chainResult.specs.logs.header' /]
                </td>
                [#if action.specExecutionLogExists]
                    <td>
                        <a href="${req.contextPath}/download/${resultsSummary.planKey}/spec_logs/${resultsSummary.planResultKey}.log?disposition=attachment">[@ww.text name='chainResult.logs.download'/]</a> or
                        <a href="${req.contextPath}/download/${resultsSummary.planKey}/spec_logs/${resultsSummary.planResultKey}.log">[@ww.text name='chainResult.logs.view'/]</a>
                    </td>
                [#else]
                    <td><span class="grey">[@ww.text name='chainResult.logs.noLogsAvailable'/]</span></td>
                [/#if]
            </tr>
            <tr class="log-trace">
                <td class="code" colspan="2">
                    <div>
                        <table id="specs-logs-${resultsSummary.planResultKey}">
                            <tbody>
                                [#list action.retrieveBambooSpecsExecutionLogs() as log]
                                    [@logLine time=log.formattedDate text=log.log /]
                                [/#list]
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    [#else]
    <div class="logs-table-container">
        <table id="job-logs" class="aui chain-logs-table">
            <caption id="logsCaption"><span>[@ww.text name=i18nPlanPrefix+'Result.logs.description'/]</span></caption>
            <colgroup>
                <col />
                <col />
                <col width="250"/>
            </colgroup>
            <thead>
            <td class="twixie">
                <ul>
                    <li class="expand-all">
                        <span role="link">[@ui.icon type="expand" /][@ww.text name="global.buttons.expand.all" /]</span>
                    </li>
                    <li class="collapse-all">
                        <span role="link">[@ui.icon type="collapse" /][@ww.text name="global.buttons.collapse.all" /]</span>
                    </li>
                </ul>
            </td>
            <th>[@ww.text name="chainResult.logs.table.job.header"/]</th>
            <th>[@ww.text name="chainResult.logs.table.logs.header"/]</th>
            </thead>
            <tbody>
                [#if resultsSummary.orderedJobResultSummaries.size() == 1]
                    [#assign singleJobPlan = true /]
                [#else]
                    [#assign singleJobPlan = false /]
                [/#if]

                [#list resultsSummary.stageResults as stageResult]
                    [#list stageResult.sortedBuildResults as buildResult]
                        [#local logsExpired = buildResult.logSize?has_content && buildResult.logSize == -1 /]
                        [#local shouldExpand = !logsExpired && (buildResult.failed || singleJobPlan) /]

                    <tr class="${shouldExpand?string('expanded', 'collapsed')}">
                        <td class="twixie">[@ui.icon type=shouldExpand?string("collapse", "expand") textKey="global.buttons.${shouldExpand?string('collapse', 'expand')}" /]</td>
                        <td>
                            [#if buildResult.finished]
                                [#assign iconClass=buildResult.buildState.name() /]
                            [#else]
                                [#assign iconClass=buildResult.lifeCycleState.name() /]
                            [/#if]
                            [@ui.icon type=iconClass status=true/]
                            <a href="${req.contextPath}/browse/${buildResult.planResultKey}/log">${buildResult.planName?html}</a>
                            <span class="subGrey">${stageResult.name}</span>
                        </td>
                        [#if !logsExpired && (buildResult.finished || buildResult.inProgress)]
                            <td>
                                <a href="${req.contextPath}/download/${buildResult.planKey}/build_logs/${buildResult.planResultKey}.log?disposition=attachment">[@ww.text name='chainResult.logs.download'/]</a> or
                                <a href="${req.contextPath}/download/${buildResult.planKey}/build_logs/${buildResult.planResultKey}.log">[@ww.text name='chainResult.logs.view'/]</a>
                                [#if buildResult.inProgress]
                                    <span class="grey">[@ww.text name='chainResult.logs.partial'/]</span>
                                [/#if]
                            </td>
                        [#else]
                            <td><span class="grey">[@ww.text name='chainResult.logs.noLogsAvailable'/]</span></td>
                        [/#if]
                    </tr>
                    <tr class="log-trace">
                        <td class="code" colspan="3">
                            <div>
                                <table id="${buildResult.planResultKey}">
                                    <tbody>
                                        [#if shouldExpand]
                                                [#list action.retrieveBuildLogs(buildResult) as log]
                                            [@logLine time=log.formattedDate text=log.log /]
                                        [/#list]
                                            [/#if]
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    [/#list]
                [/#list]
            </tbody>
        </table>
    </div>
    <script type="text/x-template" title="logTableRow-template">
        [@logLine time="{time}" text="{log}" /]
    </script>
    <script type="text/javascript">
        BAMBOO.LOGS.chainTableLiveView.init({
            getBuildUrl: "[@ww.url value='/rest/api/latest/result/@KEY@' /]",
            chainStatus: "${resultsSummary.lifeCycleState}",
            noLogsFound: "[@ww.text name='chainResult.logs.noLogsAvailable'/]",
            templates: {
                logTableRow: "logTableRow-template"
            }
        });
    </script>
[/#if]

[/#macro]

[#macro logLine time text]
<tr>
    <td class="time">${time}</td>
    <td class="buildOutputLog">${text}</td>
</tr>
[/#macro]