[#-- @ftlvariable name="action" type="com.atlassian.bamboo.ww2.actions.chains.ViewChainResult" --]
[#-- @ftlvariable name="" type="com.atlassian.bamboo.ww2.actions.chains.ViewChainResult" --]

<html>
<head>
	[@ui.header pageKey='chainResult.summary.title' object='${immutablePlan.name} ${chainResultNumber}' title=true /]
    <meta name="tab" content="result"/>
    <meta name="apdex-key" content="plan.result.summary"/>
    <meta name="apdex-ready" content="div.result-summary-tab"/>
</head>

<body>
<div class="result-summary-tab">
[#import "/lib/resultSummary.ftl" as ps]
[#import "/lib/chains.ftl" as chains]
[#import "/lib/tests.ftl" as tests]

[#assign testSummary = chainResult.testResultsSummary /]
[#assign testResults = filteredTestResults! /]
[#assign hasNewFailingTests = testSummary.newFailedTestCaseCount gt 0 /]
[#assign hasExistingFailedTests = testSummary.existingFailedTestCount gt 0 /]
[#assign hasFixedTests = testSummary.fixedTestCaseCount gt 0 /]
[#assign ignoredTestCaseCount = testSummary.ignoredTestCaseCount /]
[#assign hasIgnoredTests = testSummary.hasIgnoredTestResults() /]
[@ww.url var='manageElasticInstancesUrl' action='manageElasticInstances' namespace='/admin/elastic'/]

[@ui.header pageKey='chainResult.summary.title' /]
<div class="result-summary aui-group">
    <div class="details aui-item">
        [#if (chainResult.totalJobCount == 1)]
            [#if currentlyBuilding?? && chainResult.inProgress]
                [#assign agent = action.getAgent(currentlyBuilding.buildAgentId)!/]
            [#elseif chainResult.finished]
                [#assign jobSummary = (chainResult.orderedJobResultSummaries?first)! /]
                [#if jobSummary.finished || (jobSummary.notBuilt && jobSummary.buildAgentId??)]
                    [#assign agent = action.getAgent(jobSummary.buildAgentId)! /]
                [/#if]
            [/#if]
            [@ps.brsStatusBox buildSummary=resultsSummary filteredRepositoryChangesets=action.getRepositoryChangesetsWithNotBlankRevision(resultsSummary) agent=agent prefix="chainResult" warningsCount=action.warningsCount/]
        [#else]
            [@ps.brsStatusBox buildSummary=resultsSummary filteredRepositoryChangesets=action.getRepositoryChangesetsWithNotBlankRevision(resultsSummary) prefix="chainResult" warningsCount=action.warningsCount /]
        [/#if]
        [#if testSummary.totalTestCaseCount > 0 && chainResult.finished]
            <div class="test-summary">
                <h3>[@s.text name='chain.summary.test.header' /]</h3>
                <ul>
                    <li class="new-failures">[#if hasNewFailingTests]<a href="#new-failed-tests">${testSummary.newFailedTestCaseCount} <span>[@ww.text name='chain.summary.test.newFailures'/]</span></a>[#else]${testSummary.newFailedTestCaseCount} <span>[@ww.text name='chain.summary.test.newFailures'/]</span>[/#if]</li>
                    <li class="existing-failures">[#if hasExistingFailedTests]<a href="#existing-failed-tests">${testSummary.existingFailedTestCount} <span>[@ww.text name='chain.summary.test.existingFailures'/]</span></a>[#else]${testSummary.existingFailedTestCount} <span>[@ww.text name='chain.summary.test.existingFailures'/]</span>[/#if]</li>
                    <li class="fixed">[#if hasFixedTests]<a href="#fixed-tests">${testSummary.fixedTestCaseCount} <span>[@ww.text name='chain.summary.test.fixed'/]</span></a>[#else]${testSummary.fixedTestCaseCount} <span>[@ww.text name='chain.summary.test.fixed'/]</span>[/#if]</li>
                    [#if hasIgnoredTests][#compress ]
                        <li class="ignored">
                            <a href="[@ww.url value='/browse/${chainResult.planResultKey}/test/#ignored-tests' /]">
                                ${ignoredTestCaseCount} <span>[#if testQuarantineEnabled]
                                        [@ww.text name='chain.summary.test.quarantined.or.ignored' /]
                                    [#else]
                                        [@ww.text name='chain.summary.test.ignored' /]
                                    [/#if]
                                </span>
                            </a>
                        </li>
                    [/#compress][/#if]
                </ul>
            </div>
        [/#if]
        [#if chainResult.finished && warnings?has_content]
            <div class="warnings-summary">
                <h3>[@s.text name='chain.summary.warning.header' /]</h3>
                [#list warnings as warning]
                    <ul>
                        <li class="[#if warning.highPriorityCount > 0]high-priority[/#if]">${warning.highPriorityCount} <span>[@ww.text name='chain.summary.warning.high'/]</span></li>
                        <li class="[#if warning.normalPriorityCount > 0]normal-priority[/#if]">${warning.normalPriorityCount} <span>[@ww.text name='chain.summary.warning.normal'/]</span></li>
                        <li class="[#if warning.lowPriorityCount > 0]low-priority[/#if]">${warning.lowPriorityCount} <span>[@ww.text name='chain.summary.warning.low'/]</span></li>
                    </ul>
                [/#list]
            </div>
        [/#if]
    </div>

    <div class="aui-item result-web-panels right-result-web-panels">
        [@ui.renderWebPanels "chainresult.summary.right" /]
    </div>
</div>

<div class="result-web-panels">
    [@ui.renderWebPanels "chainresult.summary" /]
</div>

[#-- Show errors section if failed, no failed tests and only one failed job --]
[#if chainResult.finished && chainResult.failed && testSummary.failedTestCaseCount == 0]
    [#assign failedJobResults = chainResult.failedJobResults /]
    [#if failedJobResults.size() == 1 ]
        [#assign brs = failedJobResults[0] /]
        [@ww.text var="errorSummaryHeader" name='buildResult.error.summary.chain.title' ]
            [@ww.param][@ww.url value='/browse/${brs.planResultKey}/' /][/@ww.param]
            [@ww.param]${brs.planName}[/@ww.param]
        [/@ww.text]
        [@ps.showBuildErrors buildResultSummary=brs extraBuildResultsData=brs.extraBuildResultsData type="chain" header=errorSummaryHeader /]
    [/#if]
[/#if]

[#if chainResult.finished || chainResult.notBuilt]
    [@cp.displayErrorsForResult planResult=chainResult errorAccessor=errorAccessor manualReturnUrl='/browse/${chainResult.planResultKey}'/]
[/#if]

[#-- ============================================================================================== Logs Section --]

[#if chainResult.inProgress]
    <h2 id="jobLogDisplay">
        [#assign resultSummaries=jobResultSummaries /]
        [#assign firstActiveJobKey="" /]
        [#if resultSummaries?size > 1]

            [#list resultSummaries as res]
                [#if res.inProgress]
                    [#assign firstActiveJobKey=res.planResultKey/]
                    [#break]
                [#elseif res.queued && !firstQueuedJobKey?has_content]
                    [#assign firstQueuedJobKey=res.planResultKey/]
                [/#if]
            [/#list]
            [#if !firstActiveJobKey?has_content && firstQueuedJobKey?has_content]
                [#assign firstActiveJobKey=firstQueuedJobKey /]
            [/#if]

            <label for="jobResultKeyForLogDisplay">[@ww.text name="build.logs.displayForJob" /]</label>
            [@ww.select id="jobResultKeyForLogDisplay" name="jobResultKeyForLogDisplay" list=jobResultSummaries listKey="buildResultKey" listValue="planName" groupBy="immutablePlan.stage.name" theme="simple" /]
        [#elseif resultSummaries?size == 1]
            [@ww.text name="build.logs.displayForOneJob"][@ww.param]${resultSummaries.get(0).planName}[/@ww.param][/@ww.text]
            [@ww.hidden id="jobResultKeyForLogDisplay" value="${resultSummaries.get(0).planResultKey}" /]
        [/#if]
    </h2>
    [@ps.showBuildLog id="buildResultSummaryLogs" /]
    <p id="buildResultSummaryLogMessage"></p>

    <script type="text/x-template" title="logTableRow-template">
        <tr><td class="time">{time}</td><td class="buildOutputLog">{log}</td></tr>
    </script>

    <script type="text/x-template" title="logMessagePending-template">
        [@ww.text name="chainResult.summary.job.pending" ][@ww.param]{job}[/@ww.param][/@ww.text]
    </script>

    <script type="text/x-template" title="logMessageQueued-template">
        [@ww.text name="chainResult.summary.job.queued" ][@ww.param]{job}[/@ww.param][/@ww.text]
    </script>

    <script type="text/x-template" title="logMessageFinished-template">
        [@ww.text name="chainResult.summary.job.finished" ][@ww.param]{job}[/@ww.param][/@ww.text]
    </script>

    <script type="text/javascript">
        AJS.$(function () {
            BuildResultSummaryLiveActivity.init({
                getBuildUrl: "[@ww.url value='/rest/api/latest/result/@KEY@' /]",
                activeJobResultKey: "${firstActiveJobKey}",
                templates: {
                    logMessagePending: "logMessagePending-template",
                    logMessageQueued: "logMessageQueued-template",
                    logMessageFinished: "logMessageFinished-template",
                    logTableRow: "logTableRow-template"
                }
            });
        });
    </script>
[/#if]

<script type="text/javascript">
    JiraIssueLinkManager.init("${(project.key)!""}");

    AJS.trigger('analyticsEvent', {
        name: 'bamboo.build.result.summary.viewed',
        data: {
            planbranch: ${fn.isBranch(plan)?string("true", "false")}
        }
    });
    require(['internal/bamboo-browser-metrics'], function(BrowserMetrics){
        return new BrowserMetrics();
    });
</script>
</div>
</body>
</html>
