@import "plugin://bamboo.web.resources.common/global.less";

.aui-buttons {
    .aui-button.linked-deployments-menu {
        padding-right: 23px !important;
        margin-left: @baseSpacing;
        position: relative;

        &:after {
            border: 4px solid transparent;
            border-top-color: @bodyTextColor;
            content: "";
            height: 0;
            left: 100%;
            margin-left: -18px;
            margin-top: -1px;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            width: 0;
        }
    }
}

.linked-deployments-content {
    ul {
        list-style: none;
    }
}
