[#-- @ftlvariable name="stageResults" type="java.util.Collection<com.atlassian.bamboo.chains.ChainStageResult>" --]
[#-- @ftlvariable name="stages" type="java.util.List<com.atlassian.bamboo.chains.ChainStage>" --]
[#-- @ftlvariable name="navObject" type="com.atlassian.bamboo.ww2.beans.DecoratedNavObject" --]

[#-- ================================================================================== @chains.liveActivity --]

[#import "/lib/menus.ftl" as menu]

[#macro liveActivity expandable=true]

[@ww.url var='getBuildsUrl' namespace='/chain/admin/ajax' action='getChains' /]
[@ww.url var='getResultUrl' namespace='/chain/admin/ajax' action='getResult' /]
[@ww.url var='getChangesUrl' value='/rest/api/latest/result/' /]

[@ww.url var='unknownJiraType' value='/images/icons/jira_type_unknown.gif' /]
[@ww.text var='queueEmptyText' name='plan.liveactivity.noactivity' /]
[@ww.text var='cancelBuildText' name='agent.build.cancel' /]
[@ww.text var='cancellingBuildText' name='agent.build.cancelling' /]
[@ww.text var='noAdditionalInfoText' name='plan.liveactivity.build.noadditionalinfo' /]

<div id="liveActivity"[#if !expandable] class="no-expand"[/#if]>
    <p>${queueEmptyText}</p>
</div>

<script type="text/x-template" title="buildListItem-template">
    [@chainListItem chainResultKey="{buildResultKey}" cssClass="{cssClass}" status="{status}" triggerReason="{triggerReason}" planKey="{planKey}" buildMessage="{buildMessage}" currentStage="{currentStage}" /]
</script>
<script type="text/x-template" title="buildMessage-template">
    [@message type="{type}"]{text}[/@message]
</script>
<script type="text/x-template" title="jiraIssue-template">
    <li>
        <a title="View this issue" href="{url}?page=com.atlassian.jira.plugin.ext.bamboo%3Abamboo-build-results-tabpanel"><img alt="{issueType}" src="{issueIconUrl}" class="issueTypeImg"/></a>

        <h3><a href="{url}">{key}</a></h3>

        <p class="jiraIssueDetails">{details}</p>
    </li>
</script>
<script type="text/x-template" title="codeChange-changesetLink-template">
    <a href="{commitUrl}" class="revision-id">{changesetId}</a>
</script>
<script type="text/x-template" title="codeChange-changesetDisplay-template">
    <span class="revision-id">{changesetId}</span>
</script>
<script type="text/x-template" title="codeChange-template">
    <li>
        {changesetInfo}
        <img alt="{author}" src="[@ww.url value='/images/icons/businessman.gif' /]" class="profileImage"/>

        <h3><a href="${req.contextPath}/browse/user/{author}">{author}</a></h3>

        <p>{comment}</p>
    </li>
</script>
<script type="text/x-template" title="currentStage-template">
[@currentStage stageName="{stageName}" stageNumber="{stageNumber}" totalStages="{totalStages}" /]
</script>


<script type="text/javascript">
    AJS.$(function ($) {
        LiveActivity.init({
            planKey: "${immutableChain.key}",
            container: $("#liveActivity"),
            getBuildsUrl: "${getBuildsUrl}",
            getResultUrl: "${getResultUrl}",
            getChangesUrl: "${getChangesUrl}",
            queueEmptyText: "${queueEmptyText?js_string}",
            cancellingBuildText: "${cancellingBuildText?js_string}",
            noAdditionalInfoText: "${noAdditionalInfoText?js_string}",
            defaultIssueIconUrl: "${unknownJiraType?js_string}",
            defaultIssueType: "Unknown Issue Type",
            templates: {
                buildListItemTemplate: "buildListItem-template",
                buildMessageTemplate: "buildMessage-template",
                jiraIssueTemplate: "jiraIssue-template",
                codeChangeTemplate: "codeChange-template",
                currentStageTemplate: "currentStage-template",
                codeChangeChangesetLinkTemplate: "codeChange-changesetLink-template",
                codeChangeChangesetDisplayTemplate: "codeChange-changesetDisplay-template"[#if !expandable],
                toggleDetailsButton: null[/#if]
            }
        });
    });
</script>

[/#macro]

[#-- ================================================================================== @chains.message --]

[#macro message type="informative"]
<div class="message ${type}">[#nested]</div>[/#macro]

[#-- ================================================================================== @chains.currentStage --]

[#macro currentStage stageName stageNumber totalStages][#rt]
- executing stage <strong>${stageName}</strong> (stage ${stageNumber} of ${totalStages})[#t]
[/#macro][#lt]

[#macro chainListItem chainResultKey planKey cssClass status triggerReason buildMessage="" currentStage=""][#rt]
<li id="b${chainResultKey}" class="${cssClass}">
    <span class="build-description">[#rt]
        <strong>[@ui.icon type=status status=true /] <a href="${req.contextPath}/browse/${chainResultKey}">${chainResultKey}</a></strong> <span>${triggerReason}</span> <span class="stage-info">${currentStage}</span>[#t]
    </span>[#lt]
    <a id="stopBuild_${chainResultKey}" href="[@ww.url namespace='/build/admin/ajax' action='stopPlan' /]?planResultKey=${chainResultKey}" class="build-stop">[@ui.icon type="build-stop" text=cancelBuildText /]</a>
${buildMessage}
    <div class="additional-information">
        <div class="issueSummary">
            <h2 class="jiraIssuesHeader">Jira Issues</h2>
        </div>
        <div class="changesSummary">
            <h2 class="codeChangesHeader">[@ww.text name='buildResult.changes.title' /]</h2>
        </div>
    </div>
</li>
[/#macro]

[#-- ================================================================================== @chains.stageConfiguration --]

[#macro stageConfiguration id chain relatedDeploymentProjects]
    [#local stages = chain.stages/]
    [#local key = chain.key/]
    [#if stages?has_content]
        [@stageList id=id]
            [#list stages as stage]
                [@ww.url var="stageEditLink" value='/chain/admin/ajax/editStage.action' buildKey=key stageId=stage.id returnUrl=currentUrl /]
                [@ww.text var="menuTriggerText" name="menu.actions" /]
                [#local stageStatus]
                    [@ui.standardMenu triggerText=menuTriggerText id="actions-menu-${stage.id}" icon="configure" useIconFont=true subtle=true compact=true iconOnly=true]
                        <li>[@ui.displayLinkForAUIDialog titleKey='stage.configure' id="edit_${stage.id}" href=stageEditLink cssClass="edit-stage"/]</li>
                        [#if fn.hasPlanPermission("ADMINISTRATION", chain)]
                            [@ww.url var='confirmDeleteStageLink' action='confirmDeleteStage' namespace='/ajax' buildKey=key stageId=stage.id returnUrl=currentUrl /]
                            <li>
                                [@ui.displayLink
                                    id="stage-delete-link-${stage.id}"
                                    href=confirmDeleteStageLink
                                    titleKey="stage.delete"
                                    cssClass='stage-delete-link'
                                    extraAttributes={
                                        'data-title': 'Delete stage'
                                    }/]
                            </li>
                        [/#if]
                    [/@ui.standardMenu]
                [/#local]

                [@stageListItem id=stage.id name=stage.name manual=stage.manual status=stageStatus description=stage.description cssClass="not-collapsible" finalStage=stage.final]
                    [@jobList]
                        [#list stage.jobs.toArray()?sort_by("name") as job]
                            [@ww.url var="editBuildConfigurationLink" action="editBuildConfiguration" namespace="/build/admin/edit" buildKey=job.key /]
                            [@ww.url var="editBuildRequirementLink" action="defaultBuildRequirement" namespace="/build/admin/edit" buildKey=job.key /]
                            [@jobListItem key=job.key name=job.buildName href=editBuildConfigurationLink editBuildRequirementLink=editBuildRequirementLink disabled=job.suspendedFromBuilding agentUnavailabilityHint=action.getAgentUnavailabilityHint(job)]
                                <span class="handle"></span>
                                [#if fn.hasPlanPermission("WRITE", chain) || fn.hasPlanPermission("ADMINISTRATION", chain)]
                                    <ul class="floating-toolbar">
                                        [#if fn.hasPlanPermission("WRITE", chain) ]
                                            <li>
                                                [#if job.suspendedFromBuilding]
                                                    [@ww.url var="resumeJobLink" namespace="/build/admin" action="resumeJob" buildKey=job.key returnUrl=currentUrl/]
                                                    [@ui.displayLink href=resumeJobLink titleKey="global.buttons.enable" mutative=true/]
                                                [#else]
                                                    [@ww.url var="suspendJobLink" namespace="/build/admin" action="suspendJob" buildKey=job.key returnUrl=currentUrl/]
                                                    [@ui.displayLink href=suspendJobLink titleKey="global.buttons.disable" mutative=true/]
                                                [/#if]
                                            </li>
                                        [/#if]
                                        [#if fn.hasPlanPermission("ADMINISTRATION", chain)]
                                            [@menu.displayPlanDeleteLink plan=job labelKey='global.buttons.delete' useIcon=false /]
                                        [/#if]
                                    </ul>
                                [/#if]
                            [/@jobListItem]
                        [/#list]
                        [@createJobListItem chain=chain stage=stage /]
                    [/@jobList]
                [/@stageListItem]
            [/#list]
        [/@stageList]

        <h3>[@ww.text name="stage.deployment.related"/]</h3>
        [#if relatedDeploymentProjects?has_content]
           <p>[@ww.text name='stage.deployment.related.description' /]</p>
            <ul>
                [#list relatedDeploymentProjects as deploymentProject]
                    <li>
                        <a href="[@ww.url action='viewDeploymentProjectEnvironments' namespace='/deploy' returnUrl=currentUrl /]&amp;id=${deploymentProject.id}"
                           title="[@ww.text name='deployment.project.view.config' /]">
                            ${deploymentProject.name}
                        </a>
                    </li>
                [/#list]
            </ul>
        [#else]
            <p>
                [@ww.text name='stage.deployment.description' /]
            </p>
            <p>
                [@ww.url var="deployUrl"
                        action='newDeploymentProjectDetails'
                        namespace='/deploy/config'
                        planKey=planKey
                        name=action.getText("deployment.project.name.prefix", [ plan.project.name ])
                        returnUrl=currentUrl/]

                [#if fn.hasGlobalPermission("CREATE")]
                    [@cp.displayLinkButton cssClass="doNotDisableInConfigReadOnlyMode" buttonId="deployLink" buttonLabel='deployment.project.button.create' buttonUrl=deployUrl/]
                [#else]
                    [@help.url pageKey="deployments.howtheywork"][@ww.text name="deployments.howtheywork.title"/][/@help.url]
                [/#if]
            </p>
        [/#if]
        <script type="text/javascript">
            AJS.$(function () {
                ChainConfiguration.init({
                    $list: AJS.$("#${id}"),
                    moveStageUrl: '[@ww.url action="moveStage" namespace="/chain/admin/ajax" /]',
                    moveJobUrl: '[@ww.url action="moveJob" namespace="/chain/admin/ajax" /]',
                    confirmStageMoveUrl: '[@ww.url action="confirmStageMove" namespace="/chain/admin/ajax" /]',
                    confirmJobMoveJobUrl: '[@ww.url action="confirmJobMove" namespace="/chain/admin/ajax" /]',
                    chainKey: "${key}",
                    canReorder: ${fn.hasPlanPermission("ADMINISTRATION", chain)?string},
                    stageMoveHeader: '[@ww.text name="stage.move.confirm.header"/]',
                    jobMoveHeader: '[@ww.text name="job.move.confirm.header"/]'
                });
            });
            var updateStage = function (data) {
                var $stageTitle = AJS.$(
                    "#stage_" + data.stage.id + " > div > dl > dt"
                );

                var newTitleHTML = data.stage.description ?
                        '<span class="stage-name">' + data.stage.name
                        +'</span> <span class="stage-description">'
                        + data.stage.description
                        +'</span>' :
                        '<span class="stage-name">' + data.stage.name + '</span>';

                if (data.stage.finalStage) {
                    newTitleHTML = newTitleHTML + ' [@ui.lozenge textKey="stage.final.lozenge" /]';
                }

                if (data.stage.manual) {
                    newTitleHTML = newTitleHTML + ' [@ui.icon type="stage-manual" textKey="stage.manual.icon.description" /]';
                }

                $stageTitle.html(newTitleHTML);

                // update newTitle on all create-job links
                if (data.stage.name) {
                    var existingStage = AJS.$('.create-job a');
                    var existingStageParam = 'existingStage=';
                    var existingStageLocation = existingStage.attr('href').split(existingStageParam, 1);

                    existingStage.attr('href', [
                        existingStageLocation[0],
                        AJS.$('<div/>').text(data.stage.name).html()
                    ].join(existingStageParam));
                }
            };

            AJS.$(document).delegate(".create-job > a", "click", function (e) {
                e.preventDefault();
                var $trigger = AJS.$(this),
                    dialog = new AJS.Dialog({
                        width: 540,
                        height: 370,
                        keypressListener: function (e) {
                            if (e.which == jQuery.ui.keyCode.ESCAPE) {
                                dialog.remove();
                            }
                        }
                    }),
                    header = $trigger.attr("title");

                dialog.addHeader(header).addCancel("Close", function () { dialog.remove(); });

                AJS.$.ajax({
                    url: $trigger.attr("href"),
                    data: { 'bamboo.successReturnMode': 'json', decorator: 'rest', confirm: true },
                    success: function (html) {
                        var $html = AJS.$(html);

                        dialog.addPanel("", $html).show();
                    },
                    cache: false
                });
            });
        </script>
        [@dj.simpleDialogForm triggerSelector=".edit-stage" width=540 height=375 headerKey="stage.configure" submitCallback="updateStage" /]
        [@dj.simpleDialogForm triggerSelector="#createNewJob" width=740 height=550 headerKey="job.create" submitCallback="reloadThePage" /]
        [@dj.simpleDialogForm triggerSelector="#cloneJob" width=740 height=550 headerKey="job.create.clone" submitCallback="reloadThePage" /]
    [#else]
        <p>[@ww.text name='chain.result.stage.nostages' /]</p>
    [/#if]
[/#macro]

[#-- =================================================================================================== @chains.logMenu --]
[#macro logMenu action plan planType linesToDisplay secondsToRefresh]
<form id="viewPlanActivityLogForm" action="${action}" method="get">
    This page shows
    <select name="linesToDisplay" class="submitOnChange">
        <option value="10"  [#if linesToDisplay == 10]  selected="selected" [/#if]>10</option>
        <option value="25"  [#if linesToDisplay == 25]  selected="selected" [/#if]>25</option>
        <option value="50"  [#if linesToDisplay == 50]  selected="selected" [/#if]>50</option>
        <option value="100" [#if linesToDisplay == 100] selected="selected" [/#if]>100</option>
    </select>
    activity log entries for the <strong>${plan.name}</strong> ${planType}. Refresh:
    <select name="secondsToRefresh" class="submitOnChange">
        <option value="0"  [#if secondsToRefresh == 0] selected="selected" [/#if]>[@ww.text name="chain.logs.never"/]</option>
        <option value="1"  [#if secondsToRefresh == 1]  selected="selected" [/#if]>[@ww.text name="chain.logs.one"/]</option>
        <option value="5" [#if secondsToRefresh == 5] selected="selected" [/#if]>[@ww.text name="chain.logs.five"/]</option>
        <option value="30" [#if secondsToRefresh == 30] selected="selected" [/#if]>[@ww.text name="chain.logs.thirty"/]</option>
    </select>
    [#nested /]
</form>
[/#macro]

[#-- ========================================================================================= @chains.planNavigator --]

[#macro planNavigator navigationContext configMode=false navLocation=""]
    [#if configMode && navigationContext.navObject.master?has_content]
        [#assign navObject=navigationContext.navObject.master/]
    [#else]
        [#assign navObject=navigationContext.navObject/]
    [/#if]
    [#assign currentKey=navigationContext.currentKey/]
    [#assign isExpanded=fn.isJob(navigationContext.currentObject)/]
    [#if !isExpanded && action?? && action.cookieCutter??]
        [#assign isExpanded=(action.cookieCutter.getValueFromConglomerateCookie('AJS.conglomerate.cookie', 'config.sidebar.planNavigator.expanded')!'false')?trim?matches("true")/]
    [/#if]
    [#assign numJobs = 0/]
    [#list navObject.navGroups as stage]
        [#assign numJobs = numJobs + stage.children?size/]
    [/#list]

    [#if navObject?has_content]
        [#if configMode]
            <h2 class="${isExpanded?string("expanded", "collapsed")}" data-sidebar-section="planNavigator" data-item-count="${numJobs}">[@ui.icon type=isExpanded?string("collapse", "expand") /][@ww.text name='navigator.title' /]</h2>
        [#else]
            <h2>[@ww.text name='navigator.title' /]</h2>
        [/#if]
        [#if navObject.navGroups?has_content]
            <ol data-plan-key="${navObject.key}">
                [#list navObject.navGroups as stage]
                    [#assign restartableStage=stage.restartable?? && stage.restartable /]
                    [#assign runnableStage=stage.manual && stage.status?? && stage.runnable]
                    [#assign hasBuildPermission=fn.hasPlanPermissionForKey("BUILD", stage.planKey)/]
                    [#assign hasClassToSet=(stage.status.displayClass)?has_content || stage.manual || restartableStage || runnableStage /]
                    <li id="stage-${stage.id}" [#if hasClassToSet]class="[#if (stage.status.displayClass)?has_content]${stage.status.displayClass} [/#if][#if stage.manual]stage-manual [/#if][#if runnableStage  && hasBuildPermission]stage-runnable[/#if]"[/#if]>
                        <h3 [#if stage.description?has_content] title="${stage.description}"[/#if]>${stage.name}</h3>
                        [#if stage.final]
                            [@ui.lozenge textKey="stage.final.lozenge" /]
                        [/#if]
                        [#if stage.manual]
                            [#if stage.status??]
                                [#if runnableStage && hasBuildPermission]
                                    [@ww.text var='customisedButtonLabel' name='chain.continue.parameterised.build']
                                        [@ww.param]${stage.name}[/@ww.param]
                                    [/@ww.text]
                                    [@ww.url value=stage.continueUrl var='continueStageUrl' returnUrl=currentUrl /]
                                    <a href="${continueStageUrl}" class="run-custom-stage" title="${customisedButtonLabel}">[@ui.icon type="stage-runnable stageIcon" textKey="stage.manual.continue" showTitle=false /]</a>
                                [#else]
                                    [@ui.icon type="stage-"+stage.status.displayClass+" stageIcon" textKey="stage.manual.icon.description"/]
                                [/#if]
                            [#else]
                                [@ui.icon type="stage-manual stageIcon" textKey="stage.manual.icon.description"/]
                            [/#if]
                        [/#if]
                        <ul>
                            [#list stage.children as job]
                                <li id="job-${job.key}" [#if job.description?has_content] title="${job.description}"[/#if] class="[#if (job.suspendedFromBuilding)!false]disabled [/#if][#if job.key == currentKey]active [/#if][#if job.status??]${job.status.displayClass}[/#if]" data-job-key="${job.key}">
                                    [#if job.status?has_content]
                                        [#if job.status.inProgress]
                                            [#assign execStatus = job.status.executionStatus!/]
                                            [#if execStatus?has_content]
                                                [@dj.progressBar id="navPb${job.key}" value=(100 - (execStatus.progressBar.percentageCompleted * 100))?ceiling /]
                                            [/#if]
                                        [/#if]
                                        ${soy.render("widget.icons.statusIcon", {
                                            "status":  job.status.displayClass
                                        })}
                                    [#elseif (job.suspendedFromBuilding)!false]
                                        [@ui.icon type="job-disabled" + (job.key == currentKey)?string(" icon-reversed", "") status=true/]
                                    [#else]
                                        [@ui.icon type="job" + (job.key == currentKey)?string(" icon-reversed", "") status=true/]
                                    [/#if]
                                    [@ww.url value=navigationContext.getJobUrl(job) var='jobUrl'/]
                                    <a id="navJob_${job.key}" href="${jobUrl}">${job.displayName}</a>
                                </li>
                            [/#list]
                        </ul>
                    </li>
                [/#list]
            </ol>
        [#else]
            <p>[@ww.text name="chain.config.structure.nostages"][@ww.param]<a href="[@ww.url value="/browse/${navObject.key}/stages" /]">[/@ww.param][@ww.param]</a>[/@ww.param][/@ww.text]</p>
        [/#if]
    [/#if]
[/#macro]

[#-- ======================================================================================= @chains.branchNavigator --]

[#macro branchNavigator navigationContext]
    [#if navigationContext.navObject.master?has_content]
        [#assign navObject=navigationContext.navObject.master/]
    [#else]
        [#assign navObject=navigationContext.navObject/]
    [/#if]
    [#assign currentKey=navigationContext.currentKey/]
    [#assign isExpanded=fn.isBranch(navigationContext.currentObject)/]
    [#if !isExpanded && action?? && action.cookieCutter??]
        [#assign isExpanded=(action.cookieCutter.getValueFromConglomerateCookie('AJS.conglomerate.cookie', 'config.sidebar.branchNavigator.expanded')!'false')?trim?matches("true")/]
    [/#if]

    [#assign createPlanBranchLink]
        [#assign parentObj = navObject.parent!navObject /]
        [#assign masterObj = parentObj.master!parentObj /]
        [#if fn.hasPlanPermission('ADMINISTRATION', masterObj)]
            [@s.url var="createBranchUrl" action="newPlanBranch" namespace="/chain/admin" planKey=navObject.key returnUrl=currentUrl /]
            <li class="create-plan-branch">
                [@ui.displayLink
                id="createBranchSidebar"
                titleKey="branch.create.new.title"
                href=createBranchUrl
                icon="add"
                useIconFont=true
                extraAttributes={"data-bamboo-analytics-event":"bamboo.create.plan.branch.sidebar.link"}
            /]
            </li>
        [/#if]
    [/#assign]
    <h2 class="${isExpanded?string("expanded", "collapsed")}" data-sidebar-section="branchNavigator" data-item-count="${navObject.branches?size}">[@ui.icon type=isExpanded?string("collapse", "expand") /][@ww.text name="chain.branches.title" /]</h2>
    [@ww.url value="/browse/{key}/editConfig" var='branchUrl'/]
    [#if !navObject.branches?has_content && !fn.hasPlanPermission('ADMINISTRATION', immutablePlan)]
           <p class="branches">[@ww.text name="chain.config.branches.nobranches"/]</p>
    [#else]
        [#if navObject.branches?has_content]
            [@branchList branches=navObject.branches urlToReplaceKey=branchUrl activeKey=currentKey uniqueIdPrefix="navBranch_" bottomElement=createPlanBranchLink/]
        [#else]
            <ul class="branches">
                ${createPlanBranchLink}
            </ul>
        [/#if]
    [/#if]
    <script type="text/javascript">
        BAMBOO.redirectToBranchRepositoryConfig = function (data) {
            window.location = AJS.contextPath() + data.redirectUrl;
        }
    </script>
    [@dj.simpleDialogForm triggerSelector="#createBranchSidebar" width=680 height=500 headerKey="branch.create.new.title" submitCallback="BAMBOO.redirectToBranchRepositoryConfig" /]
[/#macro]

[#-- ============================================================================================ @chains.branchList --]

[#macro branchList branches urlToReplaceKey activeKey="" uniqueIdPrefix="" bottomElement=""]
    <ul class="branches">
        [#list branches?sort_by("displayName") as branch]
            [#assign classString]
                [#if activeKey == branch.key]
                    active
                [/#if]
                [#if branch.suspendedFromBuilding]
                    disabled
                [/#if]
            [/#assign]
            <li[#if classString?has_content] class="${classString?trim}"[/#if]>
                [@ww.url value="/browse/${branch.key}/editConfig" var='branchUrl'/]
                [@ui.planBranchIcon branch=branch /]
                <a[#if uniqueIdPrefix?has_content] id="${uniqueIdPrefix}${branch.key}"[/#if] href="${urlToReplaceKey?replace("{key}", branch.key, "i")}">${branch.displayName}</a>
            </li>
        [/#list]
        ${bottomElement}
    </ul>
[/#macro]

[#-- ========================================================================================== @chains.statusRibbon --]
[#macro statusRibbon navigationContext]
    [#-- @ftlvariable name="navigationContext" type="com.atlassian.bamboo.ww2.NavigationContext" --]
    [#local navObject=navigationContext.navObject/]
    [#local currentObject=navigationContext.currentObject/]
    [#local hasJob=currentObject.parent??/]
    [#if !hasJob]
        [#local operationTimeText = navObject.status.opTimeText!/]
    [/#if]

    [#local buildRibbonContent]
        <span class="assistive">[@ww.text name="build.common.title" /]:</span>
        <a href="${req.contextPath}/browse/${navObject.key}">#${navObject.buildNumber}</a>
        <span[#if hasJob] class="assistive"[/#if]>${navObject.status.summarySuffix} [#rt]
            [#if operationTimeText?has_content][#t]
                <span class="operation-time">${operationTimeText}</span>[#t]
            [/#if][#t]
        </span>[#lt]
        [#if !hasJob && resultsSummary??]
            <span id="triggerReasonDescription" class="trigger-reason"> ${action.getTriggerReasonLongDescriptionHtml(resultsSummary)}</span>
        [/#if]
    [/#local]
    [#local statuses = [{
        "id": "sr-build",
        "state": navObject.status.displayClass,
        "specsSuccess": navObject.status.specsSuccess,
        "specsFailure": navObject.status.specsFailure,
        "content": buildRibbonContent
    }] /]
    [#if hasJob]
        [#local operationTimeText = currentObject.status.opTimeText!/]
        [#local jobRibbonContent]
            <span>[@ww.text name="job.common.title" /]:</span> ${currentObject.displayName}
            <span>${currentObject.status.summarySuffix} [#rt]
                [#if operationTimeText?has_content][#t]
                    <span class="operation-time">${operationTimeText}</span>[#t]
                [/#if][#t]
            </span>[#lt]
        [/#local]
        [#local statuses = statuses + [{
            "id": "sr-job",
            "state": currentObject.status.displayClass,
            "content": jobRibbonContent,
            "headingTagName": "h3"
        }] /]
    [/#if]
    [#local progressbarContent]
        [#if !hasJob && navObject.status.inProgress && navObject.status.executionStatus?has_content]
            [@dj.progressBar id="sr-pb-${navObject.key}" value=(100 - (navObject.status.executionStatus.progressBar.percentageCompleted * 100))?ceiling /]
        [#elseif hasJob && currentObject.status.inProgress && !currentObject.status.updatingSource && currentObject.status.executionStatus?has_content]
            [@dj.progressBar id="sr-pb-${currentObject.key}" value=(100 - (currentObject.status.executionStatus.progressBar.percentageCompleted * 100))?ceiling /]
        [/#if]
        <script type="text/javascript">
            BAMBOO.BUILDRESULT.BuildResult.init({
                currentKey: "${currentObject.key}",
                getStatusUrl: "[@ww.url value='/rest/api/latest/result/status/' + navObject.key /]"[#if hasJob],
                jobStatus: "${currentObject.status.jobExecutionPhaseString}"[/#if],
                isActive: ${((navObject.status.active)!false)?string}
            });
        </script>
    [/#local]
    ${soy.render("widget.status.statusRibbon", {
        "id": "status-ribbon",
        "statuses": statuses,
        "progressbarContent": progressbarContent,
        "extraClasses": "build-status-ribbon" + hasJob?string(" has-job", "")
    })}
[/#macro]

[#-- Helper/Structural Macros ====================================================================================== --]

[#-- ================================================================================== @chains.stageList --]

[#macro stageList id]
<ul id="${id}" class="stageList">
    [#nested]
</ul>
[/#macro]

[#-- ================================================================================== @chains.stageListItem --]

[#macro stageListItem id name manual status description="" cssClass="" finalStage=false]
<li id="stage_${id}"[#if cssClass?has_content] class="${cssClass}"[/#if]>
    <div>
        <dl class="stageListGroup">
            <dt>
                <span class="stage-name">${name}</span>
                [#if description?has_content]
                    <span class="stage-description">${description?html}</span>
                [/#if]
                [#if finalStage]
                    [@ui.lozenge text="final" /]
                [/#if]
                [#if manual]
                    [@ui.icon type='stage-manual' textKey="stage.manual.icon.description"/]
                [/#if]
            </dt>
            <dd>${status}</dd>
        </dl>
        [#nested]
    </div>
    <div class="arrow"></div>
</li>
[/#macro]

[#-- ================================================================================== @chains.jobList --]

[#macro jobList cssClass=""]
<ul[#if cssClass?has_content] class="${cssClass}"[/#if]>
    [#nested]
</ul>
[/#macro]

[#-- ================================================================================== @chains.jobListItem --]

[#macro jobListItem key name href editBuildRequirementLink="" cssClass="" disabled=false agentUnavailabilityHint=""]
<li id="job_${key}"[#if cssClass?has_content] class="${cssClass}"[/#if]>
    <a href="${href}" id="viewJob_${key}" class="job">${name}</a>
    [#if disabled]
        <span class="disabled">[@ww.text name="build.summary.title.long.suspended"/]</span>
    [/#if]
    [#if agentUnavailabilityHint?has_content]
        [#if editBuildRequirementLink?has_content]
            <a href="${editBuildRequirementLink}" class="noMatchingAgent">${agentUnavailabilityHint}</a>
        [#else]
            <span class="noMatchingAgent">${agentUnavailabilityHint}</span>
        [/#if]
    [/#if]
    [#nested]
</li>
[/#macro]

[#-- ================================================================================== @chains.createJobListItem --]

[#macro createJobListItem chain stage]
    [#if fn.hasPlanPermission("ADMINISTRATION", chain)]
        [#import "../widget/action-tip/action-tip.ftl" as actionTip]
        <li class="create-job">
            <a id="createJob_${stage.id}"
                href="[@ww.url action='addJob' namespace='/chain/admin' buildKey=chain.key existingStage=stage.name /]"
                title="[@ww.text name='job.create.add.header.title' /]"
            >
                [@ui.icon type="add" useIconFont=true /][@ww.text name='job.create.add' /]
            </a>
            [@ww.text var="contentAction" name="action.tip.job.add"]
                [@ww.param][@help.href pageKey="agent.remote.capabilities"/][/@ww.param]
            [/@ww.text]
            [@actionTip.addActionTip
                triggerSelector="#createJob_${stage.id}"
                content=contentAction
                actionKey="addJob"
                width=280
            /]
        </li>
    [/#if]
[/#macro]

[#-- ================================================================================== @chains.displayBuildResultDetails --]

[#macro displayBuildResultDetails durationDescription testSummary]
<dl>
    <dt class="duration">[@ww.text name="buildResult.summary.duration" /]</dt>
    <dd class="duration">${durationDescription}</dd>
    <dt class="tests">[@ww.text name="buildResult.testClass.tests" /]</dt>
    <dd class="tests">${testSummary}</dd>
</dl>
[/#macro]

[#-- ================================================================================== @chains.displayBuildInProgress --]

[#macro displayBuildInProgress id chainResultKey buildResultKey ]
<a id="stopBuildLink_{id}" class="build-stop" href="${req.contextPath}/build/admin/stopPlan.action?planResultKey={buildResultKey}&amp;returnUrl=/browse/{chainResultKey}">[@ui.icon type="build-stop" textKey="job.stop" /]</a>
[/#macro]

[#-- ================================================================================== @chains.displayJobNoAgentError --]

[#macro displayJobNoAgentError]
<span class="jobError">[@ww.text name='queue.status.cantBuild'/]</span>
[/#macro]


[#-- ================================================================================== @build.showFullPlanName --]

[#macro showFullPlanName plan url="" icon="" includeMaster=true includeProject=false buildNumber=""]
[#compress]
    [#if icon?has_content][@ui.icon type=icon status=true /][/#if]
    <a [#if id?has_content]id=${id}[/#if] href=[#if url?has_content]${url}[#else]"${req.contextPath}/browse/${plan.key}"[/#if] [#if plan.description?has_content]title="${plan.description?html}"[/#if]>
        [#if includeProject]
            ${plan.project.name}
            &rsaquo;
        [/#if]
        [#if includeMaster && plan.master?has_content]
            ${plan.master.buildName}
            &rsaquo;
            [@ui.icon type="devtools-branch" useIconFont=true /]
        [/#if]
        ${plan.buildName}
        [#if buildNumber?has_content]
            &rsaquo;
            #${buildNumber}
        [/#if]
    </a>
[/#compress]
[/#macro]

[#macro noCreatePermissionsInfo]
<div class="no-create-chain-permissions-info">
    [@ui.messageBox type='warning']
        [@s.text name='plan.create.error.no.available.projects' /][#nt]
        [@s.text name='plan.create.error.insufficient.permissions.create.project' /][#nt]
    [/@ui.messageBox]
</div>
[/#macro]

[#-- ============================================================================ @build.getPlanStatusHistoryDetails --]

[#function getPlanStatusHistoryDetails]
    [@ww.action name='planStatusHistory' namespace='/ajax' var='planStatusHistory' /]
    [#local hasPreviousBuildResult = planStatusHistory.buildNumber?? && (planStatusHistory.findLastBuildResultBefore(plan.key, planStatusHistory.buildNumber))?? /]
    [#local firstBuildNumber = planStatusHistory.plan.firstBuildNumber!/]
    [#if planStatusHistory.buildNumber?? && !hasPreviousBuildResult]
        [#local firstBuildNumber = planStatusHistory.buildNumber/]
    [/#if]
    [#local lastBuildNumber = planStatusHistory.plan.lastBuildNumber!/]
    [#local keyToNavigate = (planStatusHistory.jobKey!planStatusHistory.planKey).toString()/]

    [#return {
        "id": "plan-status-history",
        "builds": planStatusHistory.navigableBuilds,
        "bootstrap": planStatusHistory.jsonObject.get(planStatusHistory.getNavigableSummariesKey()).toString(),
        "currentBuildNumber": planStatusHistory.buildNumber!,
        "firstBuildNumber": firstBuildNumber,
        "lastBuildNumber": lastBuildNumber,
        "planKey": planStatusHistory.planKey.toString()?js_string,
        "keyToNavigate": keyToNavigate?js_string,
        "returnUrl": ((navigationContext.getCurrentUrl())!currentUrl)?url
    } /]
[/#function]